# Author: Luka Kladaric @allixsenos

name: Preview

on: pull_request

permissions:
  contents: read
  pull-requests: write # Needed to comment on PRs

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dnscontrol
        uses: gacts/install-dnscontrol@v1

      - name: DNSControl check
        id: dnscontrol_check
        env:
          NO_COLOR: "1"
        run: |
          output=$(dnscontrol check 2>&1) || true
          echo "output<<EOF" >> $GITHUB_OUTPUT
          echo "$output" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: DNSControl preview
        id: dnscontrol_preview
        env:
          NO_COLOR: "1"
          CLOUDFLARE_APITOKEN: ${{ secrets.CLOUDFLARE_APITOKEN }}
        run: |
          output=$(dnscontrol preview 2>&1) || true
          echo "output<<EOF" >> $GITHUB_OUTPUT
          echo "$output" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Preview pull request comment
        uses: thollander/actions-comment-pull-request@v2
        if: success() || failure()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          message: |
            ## DNSControl check

            ```
            ${{ steps.dnscontrol_check.outputs.output }}
            ```

            ## DNSControl preview

            ```
            ${{ steps.dnscontrol_preview.outputs.output }}
            ```
          comment_tag: preview
          mode: recreate
